

/*--------------------------------------------------------------------------------------------------------------------*\
//////////////////////////////////	Design pour l'application web de suite RH: suiteRHmobile \\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Modifié par Jonathan ///////////////////////////////////////////////////
\*--------------------------------------------------------------------------------------------------------------------*/


#connexion_div{
    border-radius: 50px;
    box-shadow: -1px 19px 12px 23px rgba(0, 0, 0, .15), -17px 0 10px -10px rgba(0, 0, 0, .15);
}
/*////////////////////////////////////////  Design pour format portrait  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

@media only screen
and (orientation: portrait)
{

    form{
        text-align: center;
    }

    #connexion_div {
        position: absolute;
        width: 80%;
        height: auto;
        border-radius: 50px;
        box-shadow: -1px 19px 12px 23px rgba(0, 0, 0, .15), -17px 0 10px -10px rgba(0, 0, 0, .15);
        padding: 40px;
        margin-left: 6%;
        text-align: center;
        margin-top: 10%;
    }

    #btn_connexion {
        margin-right: 20%;
        width : 60%;
        padding-top: 45px;
        padding-bottom: 45px;
        margin-top: 50px;
    }

    .gbbutton{
        font-size: 70px;
    }
    .labelFilter {
        font-size: 60px;
        margin-bottom: 5px;
        display: block;
        width: 100%;
        margin-bottom: 21px;
        margin-top: 50px;
    }


    #p_lost_pswd{
        margin-top: 40px;
        font-size: 50px;
        margin-right: 18%;
        padding-bottom: 15px;
    }

    #title_connexion {
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif, 'Lucida Grande';
        font-size: 90px;
        margin-left: 5%;
    }

    .inputLogin{
        font-size: 50px;
        margin-bottom: 5px;
        width: 80%;
    }

    #logoClient{
        padding: 56px;;
        width: 100%;

    }

    #imgClient{
        float: left;
        width: 30%;
        margin-left:5%;
    }
}

/*Modifications pour Tablette portrait*/
@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    #connexion_div{
        width: 80%;
        margin-left: 6%;
        height: auto;

    }

    #title_connexion {;
        font-size: 80px;
        margin-bottom: 15%;
    }

    .labelFilter {
        font-size: 47px;
        margin-bottom: 22px;
        margin-top: 30px;
    }

    #btn_connexion {
        padding-top: 33px;
        padding-bottom: 33px;
        margin-top: 46px;
    }

    #p_lost_pswd {
        font-size: 44px;
        margin-right: 23%;
    }

    .inputLogin {
        width: 70%;
    }

}

/*/////////////////////////////////////////  Design pour format paysage  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

@media only screen
and (orientation: landscape)
{

    #connexion_div{

        margin-left: 25%;
        display: inline-block;
        margin-top: 1.5%;
        padding-bottom: 2.5%;


    }

    #logoClient{
        width: 20%;
        margin-top: 10%;
        display: inline-block;

    }

    #imgClient{
        float: left;
        width: 30%;
        margin-top: -8%;
    }

    form{
        text-align: center;
        padding-top: 10%;
    }

    .labelFilter {
        margin-left: 10%;
        float: left;
        font-size: 35px;
        margin-bottom: 5px;
        display: block;
        width: 100%;
        height: 100%;
    }

    #p_lost_pswd{
        font-size: 30px;
        margin-right: 21%;
        margin-top: 2%;
    }

    #title_connexion {
        font-family: Arial, Helvetica, sans-serif, 'Lucida Grande';
        font-size: 40px;
        margin-left: 5%;
    }

    .inputLogin{
        width: 80%;
        font-size: 30px;
        margin-left: 10%;
    }

    #btn_connexion {
        margin-right: 20%;
        width : 60%;
        padding-top: 22px;
        padding-bottom: 23px;
        margin-top: 1.5%;
    }

    .gbbutton{
        font-size: 35px;
    }

    #span_title{
        margin-top: 10%;
    }

}

/*Modifications pour Tablettes paysage*/
@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){

    #connexion_div{
        margin-top: 5%;
    }

    #title_connexion{
        font-size: 60px;
        display: inline-block;
        margin-bottom: 0%;
        margin-top: 5%;
    }

}
