
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Titres principaux du menu déroulant*/
li a {
    text-decoration:none;
    display:block;
    padding:8px 32px;
    font-family: Arial;
    margin-top: 1.2em;
    vertical-align: middle;
    color: #e1911e;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.65079rem;
}

/*Titres secondaires du menu déroulant*/
ul li ul li a{
    font-size: 35px;
    margin-left: 11%;
}

.container {
    position: fixed;
    z-index: 0;
    width: 15%;
    height: 5%;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

div .active .container{
    width: auto;
    height: auto;
}

.main span.nav__button {
    position: fixed;
    top: 0;
    left: 0;
    margin: 1.5rem;
    /*Taille du bouton*/
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 45px;
    border-radius: 100%;
    background:#e8930a;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.38);
    cursor: pointer;
    z-index: 9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}


.main span.nav__button.open {    background-color: rgba(79, 109, 245, 0.93); }

.navigation {
    position: fixed;
    width: auto;
    height: auto;
    min-height: 33%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.69);
    box-shadow: 20px 50px 50px rgba(0, 0, 0, 0.31);
    padding: 0.5rem;
    z-index: 1;
    -webkit-transform: translateY(-100vh) scale(1, 1);
    -ms-transform: translateY(-100vh) scale(1, 1);
    transform: translateY(-100vh) scale(1, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}


.active .navigation {
    -webkit-transform: translateX(0vh) scale(1, 1);
    -ms-transform: translateX(0vh) scale(1, 1);
    transform: translateX(0vh) scale(1, 1);
}

.nav__button {
    position: fixed;
    left: 150px;
    opacity: 1;
    transform: scale(1, 1);
    transition: 800ms ease-in-out;
    /*-webkit-animation: fadein 1s; !* Safari, Chrome and Opera > 12.1 *!*!
    !*-moz-animation: fadein 1s; !* Firefox < 16 *!*!
    !*-ms-animation: fadein 1s; !* Internet Explorer *!*!
    !*-o-animation: fadein 1s; !* Opera < 12.1 *!*!
    !*animation: fadein 1s;*/
}
#layout.enable {
    position: relative;
}

#menu-demo2 ul{
    /*z-index: 1000;*/
    max-height:0;
    left: 30%;
    right: 0;
    overflow:hidden;
    transition: 0.3s ease-in-out;
}

/*A augmenter pour aggrandir la taille maximum du déroulant du sous-menu*/
#menu-demo2 li:hover ul{
    max-height:50em;
}
ul#menu-demo2 {
    padding-top: 60px;
    padding-bottom: 30px;
}

.overlay
{
    height: 15%;
    width: 0%;

}
.enable .overlay {
    left:16rem;
    background: rgba(0, 0, 0, 0.51);
    height: 100%;
    width: 200%;
    padding: 0;
    top: 0;
    position: fixed;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}


.material-design-hamburger button {
    display: block;
    border: none;
    background: none;
    outline: 0;
}

.material-design-hamburger__icon {
    padding-top: 42px;
    padding-right: 0px;
    padding-bottom: 29px;
    padding-left: 19px;
    cursor: pointer;
}

.material-design-hamburger__layer {
    display: block;
    width: 51px;
    height: 5px;
    background: #eee;
    position: relative;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.material-design-hamburger__layer:before, .material-design-hamburger__layer:after {
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    background: inherit;
    left: 0;
    content: '';
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

.scrollable-menu {
    height: auto;
    max-height: 800px;
    overflow-x: hidden;
}

/*Cs sale*/
.transparent{
    color: rgba(0,0,0,0.29);
}
@media only screen
and (orientation: landscape)
{
    .main span.nav__button{
        width: 60px;
        height: 60px;
        top: -5px;
    }

    .material-design-hamburger__layer{
        width: 42px;
        height: 4px;
    }

    .material-design-hamburger__icon{
        padding-top: 29px;
        padding-left: 10px;
    }

    li a{
        font-size: 31px;
    }

    ul li ul li a{
        font-size: 22px;
    }

    .navigation{
        top: -45px;
        box-shadow: none;
    }

    .ombre{
        box-shadow: 20px 50px 50px rgba(0, 0, 0, 0.31);
    }

    .scrollable-menu {
        max-height: 500px;
    }
}


.material-design-hamburger__layer:before {
    bottom:200%;
}

.material-design-hamburger__layer:after {
    top: 200%;
}

.material-design-hamburger__icon--to-arrow {
    animation-name: material-design-hamburger__icon--slide;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--to-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after;
    animation-fill-mode: forwards;
}

.material-design-hamburger__icon--from-arrow {
    animation-name: material-design-hamburger__icon--slide-from;
}

.material-design-hamburger__icon--from-arrow:before {
    animation-name: material-design-hamburger__icon--slide-before-from;
}

.material-design-hamburger__icon--from-arrow:after {
    animation-name: material-design-hamburger__icon--slide-after-from;
}

@keyframes material-design-hamburger__icon--slide {
    0% {
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes material-design-hamburger__icon--slide-before {
    0% {
    }
    100% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-after {
    0% {
    }
    100% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
}

@keyframes material-design-hamburger__icon--slide-from {
    0% {
        transform: rotate(270deg);
    }
    100% {
    }
}

@keyframes material-design-hamburger__icon--slide-before-from {
    0% {
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {
    }
}

@keyframes material-design-hamburger__icon--slide-after-from {
    0% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {
    }
}

.textMenu{
    transition: 0.3s ease-in-out;
}

/* background des liens menus */
#menu-demo2 li:first-child{
}
#menu-demo2 li:nth-child(2){
}
#menu-demo2 li:nth-child(3){
}
#menu-demo2 li:last-child{
}
/* background des liens sous menus */
#menu-demo2 li:first-child li{
}
#menu-demo2 li:nth-child(2) li{
}
#menu-demo2 li:nth-child(3) li{;
}
#menu-demo2 li:last-child li{
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
}

/* les a href */

#menu-demo2 ul a{
    padding:8px 0;
}
#menu-demo2 li:hover li a{
}
#menu-demo2 li:hover a{
    color:#5975f4;
}
