<script type="text/javascript" language="javascript" src="/public/javascripts/views/header.js"></script>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/header.css'}">

#{navigation /}
<nav>
    <span id="hello"></span>
    *{<input type="button" value="Menu" id="btn_menu" class="gbbuttonRed">}*
    <input type="button" value="Déconnexion" href="/login" id="btn_deconnexion" class="gbbuttonGris">
</nav>