<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/navigation.css'}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script type="text/javascript" language="javascript" src="/public/javascripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="/public/javascripts/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" language="JavaScript" src="public/javascripts/views/navigation.js"></script>
<body>
<div id= "layout" class="container">
    <main class="main">
        <hr class="main__slice">
        <span class="nav__button" id="button">
            <section class="material-design-hamburger">
                <button class="material-design-hamburger__icon">
                    <span class="material-design-hamburger__layer"></span>
                </button>
            </section>
        </span>
        <nav class="navigation" id="menu">
            <div class="overlay" id="overlay">
                &nbsp;
            </div>
            <div class="textMenu">
                <ul id="menu-demo2">
                    <li><a href="#">Voir les demandes</a>
                        <ul class="sousMenu">
                            <li><a href="#">Liste des demandes</a></li>
                            <li><a href="#">Demandes refusées</a></li>
                            <li><a href="#">Historique</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Autre chose</a>
                        <ul class="sousMenu">
                            <li><a href="#">Sous chose</a></li>
                            <li><a href="#">Sur cette chose</a></li>
                            <li><a href="#">La chose le retour</a></li>
                            <li><a href="#">Retourner à l'ancienne chose</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Encore autre chose</a>
                        <ul class="sousMenu">
                            <li><a href="#">Comment bien débuter</a></li>
                            <li><a href="#">Le rework</a></li>
                            <li><a href="#">Traitement d'un autre</a></li>
                            <li><a href="#">Annulation</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Comment grossir pour les nuls</a>
                        <ul class="sousMenu">
                            <li><a href="#">Bien manger</a></li>
                            <li><a href="#">Bien bien manger</a></li>
                            <li><a href="#">Se goinffrer</a></li>
                            <li><a href="#">Culpabiliser</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </main>
</div>

</body>
</html>

