
<head>
    <meta charset="UTF-8">
    <title>Demandes absences</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/demandes.css'}">
    <script type="text/javascript" language="javascript" src="/public/javascripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="/public/javascripts/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/jquery.tmpl.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/jquery-ui.css">
    <script type="text/javascript" language="javascript" src="/public/javascripts/views/demandes.js"></script>
</head>
<body class="myBody">
#{header /}
<div id="liste">
    *{Conteneurs de données }*
    <input type='text' id='idSelected' style='display: none'>
    <input type='text' id='niveauSelected' style='display: none'>
</div>

</body>
