<!DOCTYPE html>

<html>
<head>
    <title>Identification</title>
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/login.css'}">
    <script type="text/javascript" language="javascript" src="/public/javascripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="/public/javascripts/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/jquery.tmpl.js"></script>
    <script type="text/javascript" language="JavaScript" src="public/javascripts/views/login.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/jquery-ui.css">
</head>
<body>
<div id=connexion_div>
    <div id="span_title">
        <img id="imgClient" src="/public/images/groupe-bernard-automobiles.png">
        <label  id="title_connexion">Identifiez vous</label>
    </div><br><br><br>
    <div>
        <div class="labelFilter">Identifiant</div>
        <input type="login" id="login" name="login" autofocus class="inputLogin"/>
    </div><br><br>
    <div>
        <div class="labelFilter">Mot de passe</div>
        <input id="password" type="password" name="password" class="inputLogin"/>
    </div><br><br>
    <div>
        *{<input type="submit" value="Connexion" id="btn_connexion" class="gbbutton">}*
        <input type="button" value="Connexion" id="btn_connexion" class="gbbutton">
    </div><br><br><br>
    <div>
        <label id="p_lost_pswd">Mot de passe oublié?</label>
    </div>
</div>

</body>
</html>
